/*Pour les écrans de largeur supérieure à 521px*/
@media screen and (min-width: 521px){


article{
    width: 70%;
    min-width: 450px; 
    margin: 100px auto 100px auto;
    padding: 10px;   
    text-align: center;
    font-family: arial;
    line-height: 22px;
}

article p img{
	width: 35px;
}

table{
	width: auto;
    margin-left: auto;
    margin-right: auto;
	background: url("../Images/Guide2j/fond.png") no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
	text-align: center;
}

table img{
	display: inline-block;
}

.minuteur{
	width: 13%;
}

.compteur{
	width: 12%;
	margin-top: -30px;
}

.dino{
	width: 55%;
}

.pourcentage{
	width: 15%;
}

.question{
	width: 60%;
	margin-top: -20px;
}

.reponses{
	width: 65%;
} 


.legendeMinuteur{
	width: 11%;
	margin-left: -1%;
	position: absolute;
	display: none;
}

.legendeCompteur1, .legendeCompteur2{
	width: 13%;
	margin-top: -6%;
	position: absolute;
	display: none;
}

.legendeDino1, .legendeDino2{
	width: 14%;
	margin-top: 5%;
	position: absolute;
	display: none;
}

.legendePourcentage1, .legendePourcentage2{
	width: 14%;
	margin-top: -5%;
	position: absolute;
	display: none;
}
.legendeQuestion1, .legendeQuestion2{
	width: 11%;
	margin-top: -5%;
	position: absolute;
	display: none;
}

.legendeReponses1, .legendeReponses2{
	width: 13%;
	margin-top: 1%;
	margin-left: -1%;
	position: absolute;
	display: none;
}


.minuteur:hover ~ .legendeMinuteur,
.compteur:hover ~ .legendeCompteur1, 
.compteur:hover ~ .legendeCompteur2,
.dino:hover ~ .legendeDino1, 
.dino:hover ~ .legendeDino2,
.pourcentage:hover ~ .legendePourcentage1,
.pourcentage:hover ~ .legendePourcentage2,
.question:hover ~ .legendeQuestion1, 
.question:hover ~ .legendeQuestion2,
.reponses:hover ~ .legendeReponses1, 
.reponses:hover ~ .legendeReponses2{
	display: inline-block;;
  	-webkit-animation: anim_Legende 1s infinite alternate;
  	-moz-animation: anim_Legende 1s infinite alternate;
  	-ms-animation: anim_Legende 1s infinite alternate;
  	-o-animation: anim_Legende 1s infinite alternate;
  	animation: anim_Legende 1s infinite alternate;
}

@keyframes anim_Legende {
    0%{opacity: 1;}
    10%{opacity: 0.9;}
    20%{opacity: 0.8;}
    30%{opacity: 0.7;}
    40%{opacity: 0.6;}
    50%{opacity: 0.5;}
}

@-webkit-keyframes anim_Legende{
    0%{opacity: 1;}
    10%{opacity: 0.9;}
    20%{opacity: 0.8;}
    30%{opacity: 0.7;}
    40%{opacity: 0.6;}
    50%{opacity: 0.5;}
} 

@-moz-keyframes anim_Legende{
    0%{opacity: 1;}
    10%{opacity: 0.9;}
    20%{opacity: 0.8;}
    30%{opacity: 0.7;}
    40%{opacity: 0.6;}
    50%{opacity: 0.5;}
} 

@-ms-keyframes anim_Legende{
    0%{opacity: 1;}
    10%{opacity: 0.9;}
    20%{opacity: 0.8;}
    30%{opacity: 0.7;}
    40%{opacity: 0.6;}
    50%{opacity: 0.5;}
} 

@-o-keyframes anim_Legende{
    0%{opacity: 1;}
    10%{opacity: 0.9;}
    20%{opacity: 0.8;}
    30%{opacity: 0.7;}
    40%{opacity: 0.6;}
    50%{opacity: 0.5;}
}


}